name: Deploy Backend

on:
  push:
    branches: ['main']
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  deploy-railway:
    name: Deploy to Railway
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Railway
        uses: bervProject/railway-deploy@v1.0.0
        with:
          railway_token: ${{ secrets.RAILWAY_TOKEN }}
          service: backend
          detach: false
